#head{
    color: white;
    background-color: black;
    width: 300px;
}
.one{
    justify-content: space-evenly;
}
#total{
    text-align: center;
    font-weight: bold;
    font:monospace;
}
#full{
    width: 300px;
}
/* Your CSS Code here. */